@import "mixins.styl"

@font-face
  font-family: brelaregular;
  src: url(../fonts/brelaregular.otf) format('woff');

html
  font-family brelaregular

.btn-fw
  wh(100%, auto)
  min-width 5rem
  background #409EFF
  border-radius 5rem
  border transparent 0
  text-align center
  color: #fff
  padding 0.8rem 0
  font-size 1rem
  line-height 1rem
  cursor pointer
  outline none
  transition all .8s

.btn-fw:hover
  background #227aff
  transition all .8s

.btn-fw:disabled
  cursor: not-allowed
  opacity: 0.6

.hoverable
  box-shadow: 0 0 .05rem .01rem rgba(100, 100, 100, 0.1)
  transition box-shadow .5s

.hoverable:hover
  box-shadow: 0 0 1rem .5rem rgba(50, 50, 50, 0.1)

.input
  border solid 1px #ddd
  font-size 1rem
  outline none
  padding 0 .5rem
  line-height 1.8rem
  transition all .5s
  font-family: brelaregular;
.input:focus,.input:hover
  border solid 1px #6b677d
.input::-webkit-input-placeholder
  color: #bbb


.textarea
  resize none
  font-size 1rem
  min-height 5rem
  min-width 30rem
  color: #666
  border solid 1px #ddd
  outline none
  padding .2rem .5rem
  transition all .5s
  font-family: brelaregular;
.textarea:focus,.input:hover
  border solid 1px #6b677d
.textarea::-webkit-input-placeholder
  color: #bbb
