wh(w, h)
  width: w
  height: h

fullwh()
  wh(100%,100%)

fullscreen()
  wh(100%, 100%)
  position: fixed
  left: 0
  top: 0


shadow-bg()
  box-shadow: 0 0 3.5em .3em rgba(10, 10, 10, 0.1)

flex-center-h()
  display: flex
  justify-content: center

flex-center-v()
  flex-center-h()
  flex-direction column

flex-center()
  display: flex
  justify-content center
  align-items center

bg-image(imgurl)
  background url(imgurl) no-repeat
  background-size 100% 100%
  background-position 0 0

